.home-section {
  background-image: url("../../assets/images/home-1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}
.home-presentation {
  padding-top: 100px;
  padding-bottom: 100px;
  // height: 100vh;
}
.home-navbar {
  position: fixed;
  background-color: #fff;
  width: 100vw;
  z-index: 1;
  padding-right: 1rem;
  padding-left: 1rem;
}
.Typewriter {
  span {
    color: #cb6ce6;
  }
}
